{% extends 'layout.html' %}

{% block content %}
<section class="hero">
  <div class="hero-left">
    <p class="subheading">Master's Student; Data Science Enthusiasist</p>
    <h1>Building Cool Things<br> With Code & Curiosity.</h1>
    <a href="{{ url_for('main.projects') }}" class="cta-btn">View Projects</a>
  </div>
  <div class="hero-right">
    <img src="{{ url_for('static', filename= 'img/tv1.jpg') }}" alt="Tanushri" />
  </div>
</section>

<section class="quote">
  <h2> Philosophy I Live By</h2>
  <p>In a world of noise, I choose to build with purpose and wander with wonder!</p>
</section>

{% endblock %}
