<!doctype html>
<html>
<head>
  <meta charset="UTF-8">  
  <title>My Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="viewpoint" content="width-device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class=""nav-container">
        <a class="logo" href="{}">MyPortfolio</a>
          <ul class="nav links">
            <li><a href="{{ url_for('main.home') }}">Home</a> |
              </li>
            <li><a href="{{ url_for('main.projects') }}">Projects</a></li>
          </ul>
      </div>
    </nav>
  </header>
  <main class="content">
    {% block content %}{% endblock %}
  </main>  
</body>
</html>
