<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">  
  <title>Tanushri Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="viewpoint" content="width-device-width, initial-scale=1.0">
</head>
<body class="dark-theme">
  <header class="navbar">
      <div class="container nav-flex">
        <div class="logo">Tanu.</div>
        <a class="logo" href="{}">MyPortfolio</a>
          <ul class="nav links">
            <li><a href="{{ url_for('main.home') }}">Home</a>
              </li>
            <li><a href="{{ url_for('main.projects') }}">Projects</a></li>
            <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
            <li><a href="{{ url_for('static', filename='TANUSHRI_VIJAYAKUMAR_RESUME_JAN25_tv233.pdf') }}" download>Resume</a>
            </li>
          </ul>
      </div>
  </header>
  <main class="content">
    {% block content %}{% endblock %}
  </main>  
</body>
</html>
